
//========== MEDIA BREAKPOINT

$device-size: (
  "m": 500px,
  "lg": 800px,
);

@mixin device($size) {
  @media (min-width: map-get($device-size , $size )) {
    @content;
  }
}

@mixin padding-for-devices{
    padding:20px;
  @media (min-width: map-get($device-size , 'm' )){
    padding:0;
    
  }
  @media (min-width: map-get($device-size , 'lg' )){
    padding:0;
  }
}
