h1 {
  /* Hero */

  font-family: Fira Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  margin-top: 40px;
  /* or 117% */

  letter-spacing: -1px;
}

.heading-facts {
  font-family: Fira Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 4px;
  text-transform: uppercase;

  /* Black */

  color: $black;
  opacity: 0.5;
}

p {
  margin-top: 42px;
  /* Paragrapgh */

  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  /* Black */

  color: $black;
  opacity: 0.7;
}

h2 {
  margin-top: 30px;
  /* Big Title */

  font-family: Fira Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  /* or 125% */

  letter-spacing: -1px;

  /* Black */

  color: $black;
}
