@import "config";
@import "reset";
@import "typo";

$device-size: (
  "m": 500px,
  "lg": 800px,
);
$i: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  gap: 20px;
}

.col {
}

@for $i from 1 to 13 {
  .col-#{$i} {
    grid-column: span $i;
  }
}

//========== MEDIA BREAKPOINT
@mixin device($size) {
  @media (min-width: map-get($device-size , $size )) {
    @content;
  }
}

//========== DEVICE M
@for $i from 1 to 13 {
  .col-m-#{$i} {
    @include device("m") {
      grid-column: span $i;
    }
  }
}

//========== DEVICE L
@for $i from 1 to 13 {
  .col-lg-#{$i} {
    @include device("lg") {
      grid-column: span $i;
    }
  }
}

//=========IMAGE
// .img {
//   height: 300px;
//   background-color: gray;
// }

//==========NAVIGATION

.nav {
  margin-top: auto;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-item {
  display: inline-block;
  padding: 5px;
  list-style-type: none;

  &.active {
    background-color: $blue;
    color: #fff;
  }
}

.btn {
  background-color: $blue;
  color: #fff;
  text-align: center;

  padding: 10px;
  height: 45px;
  min-width: 150px;
  justify-content: right;
}

.subnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section {
  padding-top: 50px;
}

header {
  padding-top: 50px;
}

.pos-center {
  text-align: center;
}

.pos-right {
  text-align: right;
}

.social-icons {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero {
  & .image {
    margin-top: 86px;
  }
}
