@import "mixin";
@import "config";
@import "reset";
@import "typo";

$i: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.col {
}

@for $i from 1 to 13 {
  .col-#{$i} {
    grid-column: span $i;
  }
}

//========== DEVICE M
@for $i from 1 to 13 {
  .col-m-#{$i} {
    @include device("m") {
      grid-column: span $i;
    }
  }
}

//========== DEVICE L
@for $i from 1 to 13 {
  .col-lg-#{$i} {
    @include device("lg") {
      grid-column: span $i;
    }
  }
}

//=========IMAGE
// .img {
//   height: 300px;
//   background-color: gray;
// }

section {
  margin-top: 128px;
}
header {
  padding-top: 50px;
}

.hero {
  &__image {
    margin-top: 86px;
    width: 100%;
  }
}

//==========NAVIGATION

.nav {
  margin-top: auto;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-item {
  display: inline-block;
  padding: 5px;
  list-style-type: none;

  &.active {
    background-color: $blue;
    color: #fff;
  }
}

.subnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

//==========MENUE

.menue {
  margin: 0 auto;

  &__container {
    min-width: 400px;
    height: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  p {
    margin: 0;
    padding: 10px;
  }

  &--item {
    text-decoration: none;
    // padding: 12px;
  }

  &--pair {
    display: flex;
    justify-content: space-between;
    align-content: center;

    flex-direction: row;
    flex-wrap: wrap;
  }
}

//==========BUTTONS

.btn {
  background-color: $blue;
  color: #fff;
  text-align: center;

  padding: 10px;
  height: 45px;
  min-width: 150px;
  justify-content: right;
}

//========== USER

.user {
  margin-top: 61px;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__image {
    width: 60px;
    height: 60px;
  }

  &--name {
    font-weight: 700;
    padding-bottom: 6px;
  }
}

//========== ABOUT
.about {
  margin-top: 128px;
}

//========== IMAGES & ICONS
.section-image {
  width: 100%;
}

.social-icons {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}

//========== HELPERS
.pos-center {
  text-align: center;
}

.pos-right {
  text-align: right;
}

.m-128 {
  margin-top: 128px;
}
